<!-- Sidebar Menu Start -->
<ul class="navbar-nav iq-main-menu" id="sidebar-menu">
    <li class="nav-item">
        <a class="nav-link {{#compare active '==' 'index'}}active{{/compare}}" aria-current="page"
            href="{{path}}index.html">
            <i class="icon" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Dashboard"
                data-bs-original-title="Dashboard">
                <i class="ph ph-squares-four fs-4"></i>
            </i>
            <span class="item-name">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#compare active '==' 'dashboard'}}active{{/compare}}" aria-current="page"
            href="{{path}}dashboard.html">
            <i class="icon" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Dashboard 1"
                data-bs-original-title="Dashboard 1">
                <i class="ph ph-squares-four fs-4"></i>
            </i>
            <span class="item-name">Dashboard 1</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#compare active '==' 'rating'}}active{{/compare}}" aria-current="page"
            href="{{path}}rating.html">
            <i class="ph ph-star-half fs-4"></i>
            <span class="item-name">Rating</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#compare active '==' 'comment'}}active{{/compare}}" aria-current="page"
            href="{{path}}comment.html">
            <i class="icon" data-bs-toggle="tooltip" title="Comment" data-bs-placement="right" aria-label="Comment"
                data-bs-original-title="Comment">
                <i class="ph ph-chat-circle-dots fs-4"></i>
            </i>
            <span class="item-name">Comments</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#compare active '==' 'user-list-mini'}}active{{/compare}}"
            href="{{path}}app/user-list.html">
            <i class="icon" data-bs-toggle="tooltip" title="User" data-bs-placement="right" aria-label="User"
                data-bs-original-title="User">
                <i class="ph ph-user fs-5"></i>
            </i>
            <span class="item-name">Users</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#sidebar-Movies" role="button" aria-expanded="false">
            <i class="icon" data-bs-toggle="tooltip" title="Movie List" data-bs-placement="right"
                aria-label="Movie List" data-bs-original-title="Movie List">
                <i class="ph ph-film-strip fs-4"></i>
            </i>
            <span class="item-name">Movie</span>
            <i class="right-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </i>
        </a>
        <ul class="sub-nav collapse" id="sidebar-Movies" data-bs-parent="#sidebar-menu">
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'movie-list'}}active{{/compare}}"
                    href="{{path}}movie/movie-list.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Movie List" data-bs-placement="right"
                        aria-label="Movie List" data-bs-original-title="Movie List">
                        <i class="ph ph-film-strip fs-5"></i>
                    </i>
                    <span class="item-name">Movie List</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'Genres'}}active{{/compare}}"
                    href="{{path}}movie/genres.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Genres" data-bs-placement="right"
                        aria-label="Movie List" data-bs-original-title="Genres">
                        <i class="ph ph-faders-horizontal fs-5"></i>
                    </i>
                    <span class="item-name">Genres</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'movie-tags'}}active{{/compare}}"
                    href="{{path}}movie/tags.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Movie Tags" data-bs-placement="right"
                        aria-label="Movie List" data-bs-original-title="Movie Tags">
                        <i class="ph ph-tag fs-5"></i>
                    </i>
                    <span class="item-name">Tags</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'movie-playlist'}}active{{/compare}}"
                    href="{{path}}movie/play-list.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Play List" data-bs-placement="right"
                        aria-label="Play List" data-bs-original-title="Play List">
                        <i class="ph ph-playlist fs-5"></i>
                    </i>
                    <span class="item-name">Movie Playlists</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#sidebar-Shows" role="button" aria-expanded="false">
            <i class="icon" data-bs-toggle="tooltip" title="TV Shows" data-bs-placement="right" aria-label="TV Shows"
                data-bs-original-title="TV Shows">
                <i class="ph ph-television-simple fs-4"></i>
            </i>
            <span class="item-name">TV Shows</span>
            <i class="right-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </i>
        </a>
        <ul class="sub-nav collapse" id="sidebar-Shows" data-bs-parent="#sidebar-menu">
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'show-list'}}active{{/compare}}"
                    href="{{path}}tv-shows/show-list.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Show Lists" data-bs-placement="right"
                        aria-label="Show Lists" data-bs-original-title="Show Lists">
                        <i class="ph ph-monitor-play fs-5"></i>
                    </i>
                    <span class="item-name">Show Lists</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'episodes'}}active{{/compare}}"
                    href="{{path}}tv-shows/episodes.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Episodes" data-bs-placement="right"
                        aria-label="Episodes" data-bs-original-title="Episodes">
                        <i class="ph ph-monitor-play fs-5"></i>
                    </i>
                    <span class="item-name">Episodes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'general'}}active{{/compare}}"
                    href="{{path}}tv-shows/general.html">
                    <i class="icon" data-bs-toggle="tooltip" title="general" data-bs-placement="right"
                        aria-label="general" data-bs-original-title="general">
                        <i class="ph ph-faders-horizontal fs-5"></i>
                    </i>
                    <span class="item-name">Genres</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'tvshow-tags'}}active{{/compare}}"
                    href="{{path}}tv-shows/tags.html">
                    <i class="icon" data-bs-toggle="tooltip" title="tags" data-bs-placement="right" aria-label="tags"
                        data-bs-original-title="tags">
                        <i class="ph ph-tag fs-5"></i>
                    </i>
                    <span class="item-name">Tags</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'episodes-playlist'}}active{{/compare}}"
                    href="{{path}}tv-shows/episodes-playlist.html">
                    <i class="icon" data-bs-toggle="tooltip" title="episodes-playlist" data-bs-placement="right"
                        aria-label="episodes-playlist" data-bs-original-title="episodes-playlist">
                        <i class="ph ph-playlist fs-5"></i>
                    </i>
                    <span class="item-name">Episodes Playlist</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#sidebar-video" role="button" aria-expanded="false"
            aria-controls="sidebar-video">
            <i class="icon" data-bs-toggle="tooltip" title="Videos" data-bs-placement="right" aria-label="TV Shows"
                data-bs-original-title="Videos">
                <i class="ph ph-video-camera fs-4"></i>
            </i>
            <span class="item-name">Videos</span>
            <i class="right-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </i>
        </a>
        <ul class="sub-nav collapse" id="sidebar-video" data-bs-parent="#sidebar-menu">
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'videos'}}active{{/compare}}"
                    href="{{path}}video/videos.html">
                    <i class="icon" data-bs-toggle="tooltip" title="videos" data-bs-placement="right"
                        aria-label="videos" data-bs-original-title="videos">
                        <i class="ph ph-video fs-5"></i>
                    </i>
                    <span class="item-name">videos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'video-category'}}active{{/compare}}"
                    href="{{path}}video/video-category.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Video Category" data-bs-placement="right"
                        aria-label="Video Category" data-bs-original-title="Video Category">
                        <i class="ph ph-queue fs-5"></i>
                    </i>
                    <span class="item-name">Video Category</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'videos-tags'}}active{{/compare}}"
                    href="{{path}}video/video-tags.html">
                    <i class="icon" data-bs-toggle="tooltip" title="videos-tags" data-bs-placement="right"
                        aria-label="Videos Tags" data-bs-original-title="videos-tags">
                        <i class="ph ph-video-camera fs-5"></i>
                    </i>
                    <span class="item-name">Video Tags</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'video-playlist'}}active{{/compare}}"
                    href="{{path}}video/video-playlist.html">
                    <i class="icon" data-bs-toggle="tooltip" title="video-playlist" data-bs-placement="right"
                        aria-label="Video Playlist" data-bs-original-title="Video Playlist">
                        <i class="ph ph-playlist fs-5"></i>
                    </i>
                    <span class="item-name">Video Playlist</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#sidebar-person" role="button" aria-expanded="false"
            aria-controls="sidebar-person">
            <i class="icon" data-bs-toggle="tooltip" title="Person" data-bs-placement="right" aria-label="Person"
                data-bs-original-title="Person">
                <i class="ph ph-users-three fs-4"></i>
            </i>
            <span class="item-name">Persons</span>
            <i class="right-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </i>
        </a>
        <ul class="sub-nav collapse" id="sidebar-person" data-bs-parent="#sidebar-menu">
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'person'}}active{{/compare}}"
                    href="{{path}}persons/persons.html">
                    <i class="icon" data-bs-toggle="tooltip" title="person" data-bs-placement="right"
                        aria-label="person" data-bs-original-title="person">
                        <i class="ph ph-user-circle fs-5"></i>
                    </i>
                    <span class="item-name">Person</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'person-category'}}active{{/compare}}"
                    href="{{path}}persons/categories.html">
                    <i class="icon" data-bs-toggle="tooltip" title="categories" data-bs-placement="right"
                        aria-label="categories" data-bs-original-title="categories">
                        <i class="ph ph-user-circle-plus fs-5"></i>
                    </i>
                    <span class="item-name">Categories</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'tags'}}active{{/compare}}" href="{{path}}persons/tags.html">
                    <i class="icon" data-bs-toggle="tooltip" title="tags" data-bs-placement="right" aria-label="tags"
                        data-bs-original-title="tags">
                        <i class="ph ph-tag fs-5"></i>
                    </i>
                    <span class="item-name">Tags</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#compare active '==' 'review'}}active{{/compare}}" href="{{path}}review/review.html">
            <i class="icon" data-bs-toggle="tooltip" title="review" data-bs-placement="right" aria-label="review"
                data-bs-original-title="review">
                <i class="ph ph-chat-centered fs-5"></i>
            </i>
            <span class="item-name">Review</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#compare active '==' 'special-pricing'}}active{{/compare}}"
            href="{{path}}special-pages/pricing.html">
            <i class="icon" data-bs-toggle="tooltip" title="Pricing" data-bs-placement="right" aria-label="Pricing"
                data-bs-original-title="Pricing">
                <i class="ph ph-wallet fs-5"></i>
            </i>
            <span class="item-name">Pricing</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#sidebar-auth" role="button" aria-expanded="false"
            aria-controls="sidebar-auth">
            <i class="icon" data-bs-toggle="tooltip" title="Authentication" data-bs-placement="right"
                aria-label="Authentication" data-bs-original-title="Authentication">
                <i class="ph ph-shield-check fs-5"></i>
            </i>
            <span class="item-name">Authentication</span>
            <i class="right-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </i>
        </a>
        <ul class="sub-nav collapse" id="sidebar-auth" data-bs-parent="#sidebar-menu">
            <li class="nav-item">
                <a class="nav-link" href="{{path}}auth/sign-in.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Login" data-bs-placement="right" aria-label="Login"
                        data-bs-original-title="Login">
                        <i class="ph ph-sign-in fs-5"></i>
                    </i>
                    <span class="item-name">Login</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path}}auth/sign-up.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Register" data-bs-placement="right"
                        aria-label="Register" data-bs-original-title="Register">
                        <i class="ph ph-trademark-registered fs-5"></i>
                    </i>
                    <span class="item-name">Register</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path}}auth/recoverpw.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Recover Password" data-bs-placement="right"
                        aria-label="Recover Password" data-bs-original-title="Recover Password">
                        <i class="ph ph-voicemail fs-5"></i>
                    </i>
                    <span class="item-name">Recover Password</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path}}auth/confirm-mail.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Confirm Mail" data-bs-placement="right"
                        aria-label="Confirm Mail" data-bs-original-title="Confirm Mail">
                        <i class="ph ph-file fs-5"></i>
                    </i>
                    <span class="item-name">Confirm Mail</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path}}auth/two-factor.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Two Factor Authentication" data-bs-placement="right"
                        aria-label="Two Factor Authentication" data-bs-original-title="Two Factor Authentication">
                        <i class="ph ph-fingerprint fs-5"></i>
                    </i>
                    <span class="item-name">2FA</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path}}auth/account-deactivate.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Account Deactivate" data-bs-placement="right"
                        aria-label="Account Deactivate" data-bs-original-title="Account Deactivate">
                        <i class="ph ph-user-circle-minus fs-5"></i>
                    </i>
                    <span class="item-name">Account Deactivate</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path}}auth/lock-screen.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Lock Screen" data-bs-placement="right"
                        aria-label="Lock Screen" data-bs-original-title="Lock Screen">
                        <i class="ph ph-lock fs-5"></i>
                    </i>
                    <span class="item-name">Lock Screen</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#utilities-error" role="button" aria-expanded="false"
            aria-controls="utilities-error">
            <i class="icon" data-bs-toggle="tooltip" title="Utilities" data-bs-placement="right" aria-label="Utilities"
                data-bs-original-title="Utilities">
                <i class="ph-fill ph-note fs-4"></i>
            </i>
            <span class="item-name">Utilities</span>
            <i class="right-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </i>
        </a>
        <ul class="sub-nav collapse" id="utilities-error" data-bs-parent="#sidebar-menu">
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'sidebar-small'}}active{{/compare}}"
                    href="{{path}}errors/error404.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Error 404" data-bs-placement="right"
                        aria-label="Error 404" data-bs-original-title="Error 404">
                        <i class="ph ph-warning-circle fs-5"></i>
                    </i>
                    <span class="item-name">Error 404</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'sidebar-two'}}active{{/compare}}"
                    href="{{path}}errors/error500.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Error 500" data-bs-placement="right"
                        aria-label="Error 500" data-bs-original-title="Error 500">
                        <i class="ph ph-warning-circle fs-5"></i>
                    </i>
                    <span class="item-name">Error 500</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'sidebar-two'}}active{{/compare}}"
                    href="{{path}}errors/maintenance.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Maintenance" data-bs-placement="right"
                        aria-label="Maintenance" data-bs-original-title="Maintenance">
                        <i class="ph ph-archive fs-5"></i>
                    </i>
                    <span class="item-name">Maintenance</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'sidebar-two'}}active{{/compare}}"
                    href="{{path}}errors/coming-soon.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Coming Soon" data-bs-placement="right"
                        aria-label="Coming Soon" data-bs-original-title="Coming Soon">
                        <i class="ph ph-clock fs-5"></i>
                    </i>
                    <span class="item-name">Coming Soon</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#compare active '==' 'blank-page'}}active{{/compare}}" href="{{path}}blank-page.html">
            <i class="icon" data-bs-toggle="tooltip" title="Blank Page" data-bs-placement="right"
                aria-label="Blank Page" data-bs-original-title="Blank Page">
                <i class="ph ph-note fs-5"></i>
            </i>
            <span class="item-name">Blank Page</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui" role="button" aria-expanded="false"
            aria-controls="utilities-error">
            <i class="icon" data-bs-toggle="tooltip" title="UI Elements" data-bs-placement="right"
                aria-label="UI Elements" data-bs-original-title="UI Elements">
                <i class="ph ph-briefcase fs-4"></i>
            </i>
            <span class="item-name">UI Elements</span>
            <i class="right-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </i>
        </a>
        <ul class="sub-nav collapse" id="ui" data-parent="#sidebar-menu">
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-avatars'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-avatars.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Avatars" data-bs-placement="right"
                        aria-label="Avatars" data-bs-original-title="Avatars">
                        <i class="ph ph-user fs-5"></i>
                    </i>
                    <span class="item-name">Avatars</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-alert'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-alerts.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Alerts" data-bs-placement="right"
                        aria-label="Alerts" data-bs-original-title="Alerts">
                        <i class="ph ph-bell fs-5"></i>
                    </i>
                    <span class="item-name">Alerts</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-badge'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-badges.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Badges" data-bs-placement="right"
                        aria-label="Badges" data-bs-original-title="Badges">
                        <i class="ph-duotone ph-shield-check fs-5"></i>
                    </i>
                    <span class="item-name">Badge</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-breadcrumb'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-breadcrumb.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Breadcrumb" data-bs-placement="right"
                        aria-label="Breadcrumb" data-bs-original-title="Breadcrumb">
                        <i class="ph ph-list fs-5"></i>
                    </i>
                    <span class="item-name">Breadcrumb</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-button'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-buttons.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Buttons" data-bs-placement="right"
                        aria-label="Buttons" data-bs-original-title="Buttons">
                        <i class="ph-duotone ph-device-tablet-camera fs-5"></i>
                    </i>
                    <span class="item-name">Buttons</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-button-group'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-buttons-group.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Button Group" data-bs-placement="right"
                        aria-label="Button Group" data-bs-original-title="Button Group">
                        <i class="ph ph-rows fs-5"></i>
                    </i>
                    <span class="item-name">Buttons Group</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-offcanvas'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-offcanvas.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Offcanvas" data-bs-placement="right"
                        aria-label="Offcanvas" data-bs-original-title="Offcanvas">
                        <i class="ph ph-corners-out fs-5"></i>
                    </i>
                    <span class="item-name">Offcanvas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-color'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-color.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Colors" data-bs-placement="right"
                        aria-label="Colors" data-bs-original-title="Colors">
                        <i class="ph ph-palette fs-5"></i>
                    </i>
                    <span class="item-name">Colors</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-card'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-cards.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Cards" data-bs-placement="right" aria-label="Cards"
                        data-bs-original-title="Cards">
                        <i class="ph ph-identification-card fs-5"></i>
                    </i>
                    <span class="item-name">Cards</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-carousel'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-carousel.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Carousel" data-bs-placement="right"
                        aria-label="Carousel" data-bs-original-title="Carousel">
                        <i class="ph-duotone ph-film-strip fs-5"></i>
                    </i>
                    <span class="item-name">Carousel</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-grid'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-grid.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Grid" data-bs-placement="right" aria-label="Grid"
                        data-bs-original-title="Grid">
                        <i class="ph ph-grid-four fs-5"></i>
                    </i>
                    <span class="item-name">Grid</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-images'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-images.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Images" data-bs-placement="right"
                        aria-label="Images" data-bs-original-title="Images">
                        <i class="ph ph-image fs-5"></i>
                    </i>
                    <span class="item-name">Images</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-list-group'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-list-group.html">
                    <i class="icon" data-bs-toggle="tooltip" title="List Group" data-bs-placement="right"
                        aria-label="List Group" data-bs-original-title="List Group">
                        <i class="ph ph-list-checks fs-5"></i>
                    </i>
                    <span class="item-name">List Group</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-modal'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-modal.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Modal" data-bs-placement="right" aria-label="Modal"
                        data-bs-original-title="Modal">
                        <i class="ph ph-square-split-horizontal fs-5"></i>
                    </i>
                    <span class="item-name">Modal</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-notifications'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-notifications.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Notifications" data-bs-placement="right"
                        aria-label="Notifications" data-bs-original-title="Notifications">
                        <i class="ph ph-bell fs-5"></i>
                    </i>
                    <span class="item-name">Notifications</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-pagination'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-pagination.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Pagination" data-bs-placement="right"
                        aria-label="Pagination" data-bs-original-title="Pagination">
                        <i class="ph ph-dots-three-outline fs-5"></i>
                    </i>
                    <span class="item-name">Pagination</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-popovers'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-popovers.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Popovers" data-bs-placement="right"
                        aria-label="Popovers" data-bs-original-title="Popovers">
                        <i class="ph ph-eraser fs-5"></i>
                    </i>
                    <span class="item-name">Popovers</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-typography'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-typography.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Typography" data-bs-placement="right"
                        aria-label="Typography" data-bs-original-title="Typography">
                        <i class="ph ph-keyboard fs-5"></i>
                    </i>
                    <span class="item-name">Typography</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-tab'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-tabs.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Tabs" data-bs-placement="right" aria-label="Tabs"
                        data-bs-original-title="Tabs">
                        <i class="ph ph-stack fs-5"></i>
                    </i>
                    <span class="item-name">Tabs</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-tooltip'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-tooltips.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Tooltips" data-bs-placement="right"
                        aria-label="Tooltips" data-bs-original-title="Tooltips">
                        <i class="ph ph-magnet fs-5"></i>
                    </i>
                    <span class="item-name">Tooltips</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ui-embed-video'}}active{{/compare}}"
                    href="{{path}}ui-elements/ui-embed-video.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Video" data-bs-placement="right" aria-label="Video"
                        data-bs-original-title="Video">
                        <i class="ph ph-video-camera fs-5"></i>
                    </i>
                    <span class="item-name">Video</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#sidebar-widget" role="button" aria-expanded="false"
            aria-controls="sidebar-widget">
            <i class="icon" data-bs-toggle="tooltip" title="Widgets" data-bs-placement="right" aria-label="Widgets"
                data-bs-original-title="Widgets">
                <i class="ph ph-browser fs-4"></i>
            </i>
            <span class="item-name">Widgets</span>
            <i class="right-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </i>
        </a>
        <ul class="sub-nav collapse" id="sidebar-widget" data-bs-parent="#sidebar-menu">
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'widget-basic'}}active{{/compare}}"
                    href="{{path}}widget/widgetbasic.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Widget Basic" data-bs-placement="right"
                        aria-label="Widget Basic" data-bs-original-title="Widget Basic">
                        <i class="ph ph-chart-bar fs-5"></i>
                    </i>
                    <span class="item-name">Widget Basic</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'widget-chart'}}active{{/compare}}"
                    href="{{path}}widget/widgetchart.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Widget Chart" data-bs-placement="right"
                        aria-label="Widget Chart" data-bs-original-title="Widget Chart">
                        <i class="ph ph-chart-line fs-5"></i>
                    </i>
                    <span class="item-name">Widget Chart</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'widget-card'}}active{{/compare}}"
                    href="{{path}}widget/widgetcard.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Widget Card" data-bs-placement="right"
                        aria-label="Widget Card" data-bs-original-title="Widget Card">
                        <i class="ph ph-browsers fs-5"></i>
                    </i>
                    <span class="item-name">Widget Card</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#sidebar-form" role="button" aria-expanded="false"
            aria-controls="sidebar-form">
            <i class="icon" data-bs-toggle="tooltip" title="Form" data-bs-placement="right" aria-label="Form"
                data-bs-original-title="Form">
                <i class="ph ph-note fs-4"></i>
            </i>
            <span class="item-name">Form</span>
            <i class="right-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </i>
        </a>
        <ul class="sub-nav collapse" id="sidebar-form" data-bs-parent="#sidebar-menu">
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'form-layout'}}active{{/compare}}"
                    href="{{path}}form/form-element.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Elements" data-bs-placement="right"
                        aria-label="Elements" data-bs-original-title="Elements">
                        <i class="ph ph-book fs-5"></i>
                    </i>
                    <span class="item-name">Elements</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'form-wizard'}}active{{/compare}}"
                    href="{{path}}form/form-wizard.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Wizard" data-bs-placement="right"
                        aria-label="Wizard" data-bs-original-title="Wizard">
                        <i class="ph ph-magic-wand fs-5"></i>
                    </i>
                    <span class="item-name">Wizard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'form-validation'}}active{{/compare}}"
                    href="{{path}}form/form-validation.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Validation" data-bs-placement="right"
                        aria-label="Validation" data-bs-original-title="Validation">
                        <i class="ph ph-note-pencil fs-5"></i>
                    </i>
                    <span class="item-name">Validation</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#sidebar-table" role="button" aria-expanded="false"
            aria-controls="sidebar-table">
            <i class="icon" data-bs-toggle="tooltip" title="Table" data-bs-placement="right" aria-label="Table"
                data-bs-original-title="Table">
                <i class="ph-fill ph-table fs-4"></i>
            </i>
            <span class="item-name">Table</span>
            <i class="right-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </i>
        </a>
        <ul class="sub-nav collapse" id="sidebar-table" data-bs-parent="#sidebar-menu">
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'bootstrap-table'}}active{{/compare}}"
                    href="{{path}}table/bootstrap-table.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Bootstrap Table" data-bs-placement="right"
                        aria-label="Bootstrap Table" data-bs-original-title="Bootstrap Table">
                        <i class="fa-brands fa-bootstrap"></i>
                    </i>
                    <span class="item-name">Bootstrap Table</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'table-data'}}active{{/compare}}"
                    href="{{path}}table/table-data.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Datatable" data-bs-placement="right"
                        aria-label="Datatable" data-bs-original-title="Datatable">
                        <i class="ph ph-table fs-5"></i>
                    </i>
                    <span class="item-name">Datatable</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'border-table'}}active{{/compare}}"
                    href="{{path}}table/border-table.html">
                    <i class="icon" data-bs-toggle="tooltip" title="Bordered Table" data-bs-placement="right"
                        aria-label="Bordered Table" data-bs-original-title="Bordered Table">
                        <i class="ph ph-table fs-5"></i>
                    </i>
                    <span class="item-name">Bordered Table</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'fixed-table'}}active{{/compare}}"
                    href="{{path}}table/fixed-table.html">
                    <i class="icon" data-bs-toggle="tooltip" title="FixedTable" data-bs-placement="right"
                        aria-label="Fixed Tabl" data-bs-original-title="Fixed Tabl">
                        <i class="ph ph-grid-nine fs-5"></i>
                    </i>
                    <span class="item-name">Fixed Table</span>
                </a>
            </li>
        </ul>
    </li>
    {{!-- <li class="nav-item">
        <a class="nav-link {{#compare active '==' 'font-awesome'}}active{{/compare}}"
            href="{{path}}icons/font-awesome.html">
            <i class="icon" data-bs-toggle="tooltip" title="Icons" data-bs-placement="right" aria-label="Icons"
                data-bs-original-title="Icons">
                <i class="ph ph-pencil-simple-line fs-5"></i>
            </i>
            <span class="item-name">FontAwesome</span>
        </a>
    </li> --}}
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#sidebar-icons" role="button" aria-expanded="false"
            aria-controls="sidebar-icons">
            <i class="icon" data-bs-toggle="tooltip" title="Icons" data-bs-placement="right" aria-label="Icons"
                data-bs-original-title="Icons">
                <i class="ph-duotone ph-circles-three-plus fs-4"></i>
            </i>
            <span class="item-name">Icons</span>
            <i class="right-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </i>
        </a>
        <ul class="sub-nav collapse" id="sidebar-icons" data-bs-parent="#sidebar-menu">
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ph-regular'}}active{{/compare}}"
                    href="{{path}}icons/ph-regular.html">
                    <i class="icon" data-bs-toggle="tooltip" title="ph-regular" data-bs-placement="right"
                        aria-label="ph-regular" data-bs-original-title="ph-regular">
                        <i class="ph ph-currency-rub fs-5"></i>
                    </i>
                    <span class="item-name">Ph Regular</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ph-bold'}}active{{/compare}}"
                    href="{{path}}icons/ph-bold.html">
                    <i class="icon" data-bs-toggle="tooltip" title="ph-bold" data-bs-placement="right"
                        aria-label="ph-bold" data-bs-original-title="ph-bold">
                        <i class="ph-bold ph-currency-rub fs-5"></i>
                    </i>
                    <span class="item-name">Ph Bold</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#compare active '==' 'ph-fill'}}active{{/compare}}"
                    href="{{path}}icons/ph-fill.html">
                    <i class="icon" data-bs-toggle="tooltip" title="ph-fill" data-bs-placement="right"
                        aria-label="ph-fill" data-bs-original-title="ph-fill">
                        <i class="ph-fill ph-currency-rub fs-5"></i>
                    </i>
                    <span class="item-name">Ph Fill</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item mb-4">
        <a class="nav-link {{#compare active '==' 'access-control'}}active{{/compare}}"
            href="{{path}}access-control.html">
            <i class="icon" data-bs-toggle="tooltip" title="Access Control" data-bs-placement="right"
                aria-label="Access Control" data-bs-original-title="Access Control">
                <i class="ph ph-user-gear fs-4"></i>
            </i>
            <span class="item-name">Access Control</span>
        </a>
    </li>
</ul>

<!-- Sidebar Menu End -->