<div class="section-padding blog-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{#if isblogdetail}}
        {{else}}
        <div class="iq-blogs-meta">
          <ul class="iq-blogtag list-inline d-flex  align-items-center flex-wrap mb-0">
            <li class=""><i class="ph ph-user" aria-hidden="true"></i><a href="../blog/blog-author.html" class="">
                Jenny</a></li>
            <li class="">
              <i class="icon icon-calendar-2" aria-hidden="true"></i><a href="../blog/blog-date.html">
                January
                30, 2019</a>
            </li>
            <li class="">
              <a href="../blog/blog-date.html" class="">DRAMAS</a>,
            </li>
            <li class="">
              <a href="../blog/blog-date.html" class=""> Historical</a>,
            </li>
            <li class="">
              <a href="../blog/blog-date.html" class="">Uncategorized</a>
            </li>
          </ul>
        </div>
        <h3 class="mb-3">
          {{blog-title}} </h3>
        {{/if}}
        <div class="iq-blog blog-detail">
          {{#compare isImg '==' 'true'}}
          <a href="{{path}}blog/blog-detail.html" class="blog-image d-block overflow-hidden">
            <img src="{{path}}assets/images/{{blog-image}}" alt="blog-image" class="img-fluid w-100 mb-5">
          </a>
          {{/compare}}
          {{#compare isVideo '==' 'true'}}
          <div>
            <iframe class="w-100" height="490" src="https://www.youtube.com/embed/QCGq1epI9pQ"
              title="Streamit Intro | ULTIMATE OTT Theme &amp; App for WordPress | Iqonic Design" style="border: none;"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          {{/compare}}
          {{#compare isAudio '==' 'true'}}
          <div>
            <iframe height="200" class="w-100" style="border: none;"
              src="https://w.soundcloud.com/player/?visual=false&amp;url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F36701924&amp;show_artwork=true&amp;maxheight=750&amp;maxwidth=720&amp;auto_play=false&amp;buying=true&amp;liking=true&amp;download=true&amp;sharing=true&amp;show_comments=true&amp;show_playcount=true&amp;show_user=true&amp;color"></iframe>

          </div>
          {{/compare}}
          {{#compare isGallery '==' 'true'}}
          <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1">
            <div class="col mb-4">
              <a data-fslightbox="gallery" href="{{path}}assets/images/blog/blog1.webp">
                <img class="img-fluid" src="{{path}}assets/images/blog/blog1.webp" alt="blog-gallery">
              </a>
            </div>
            <div class="col mb-4">
              <a data-fslightbox="gallery" href="{{path}}assets/images/blog/blog2.webp">
                <img class="img-fluid" src="{{path}}assets/images/blog/blog2.webp" alt="blog-gallery">
              </a>
            </div>
            <div class="col mb-4">
              <a data-fslightbox="gallery" href="{{path}}assets/images/blog/blog3.webp">
                <img class="img-fluid" src="{{path}}assets/images/blog/blog3.webp" alt="blog-gallery">
              </a>
            </div>
            <div class="col mb-4 mb-md-0">
              <a data-fslightbox="gallery" href="{{path}}assets/images/blog/blog4.webp">
                <img class="img-fluid" src="{{path}}assets/images/blog/blog4.webp" alt="blog-gallery">
              </a>
            </div>
            <div class="col mb-4 mb-md-0">
              <a data-fslightbox="gallery" href="{{path}}assets/images/blog/blog5.webp">
                <img class="img-fluid" src="{{path}}assets/images/blog/blog5.webp" alt="blog-gallery">
              </a>
            </div>
            <div class="col">
              <a data-fslightbox="gallery" href="{{path}}assets/images/blog/blog6.webp">
                <img class="img-fluid" src="{{path}}assets/images/blog/blog6.webp" alt="blog-gallery">
              </a>
            </div>
          </div>
          {{/compare}}

          <div class="iq-blog-box">
            {{#compare isLink '==' 'true'}}
            <div class="mb-4">
              <a href="https://iqonic.design/"><i class="ph ph-link text-primary quote-icon"></i></a>
            </div>
            {{/compare}}

            {{#compare isQuote '==' 'true'}}
            <blockquote class="block-quote py-5 mb-3">
              <div class="row align-items-start">
                <div class="col-lg-1 col-md-2">
                  <div class="blockquote-icon">
                    <i class="ph-fill ph-quotes text-primary" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="col-lg-11 col-md-10">
                  <div class="p-2">
                      <p class="mb-0 blog-gallery-desc">”Simon Doe has his tongue planted in his cheek as he describes the
                        fictional skills of his
                        advancing agent.”</p>
                      <cite><a href="#">Steve Kowalsky</a></cite>
                  </div>
                </div>
              </div>

            </blockquote>
            {{/compare}}

            {{#compare isblogdetail '==' "true"}}
            <div class="iq-blogs-meta">
              <ul class="iq-blogtag list-inline d-flex  align-items-center flex-wrap mb-0 ">
                <li class="d-flex align-items-center gap-1"><i class="ph ph-user" aria-hidden="true"></i><a href="../blog/blog-author.html"
                    class=""> Jenny</a></li>
                <li class="d-flex align-items-center gap-1">
                  <i class="icon icon-calendar-2" aria-hidden="true"></i><a href="../blog/blog-date.html">
                    January
                    30, 2019</a>
                </li>
                <li class="">
                  <a href="{{path}}/blog/blog-tag.html" class="">DRAMAS</a>,
                </li>
                <li class="">
                  <a href="{{path}}/blog/blog-tag.html" class=""> Historical</a>,
                </li>
                <li class="">
                  <a href="{{path}}/blog/blog-tag.html" class="">Uncategorized</a>
                </li>
              </ul>
            </div>
            <h3 class="mb-3">
              {{blog-title}} </h3>
            {{/compare}}

            <h6 class="text-white my-3">Praesent iaculis, purus ac vehicula mattis, arcu
              lorem blandit nisl, non laoreet dui mi eget elit. Donec porttitor ex vel
              augue maximus luctus. Vivamus finibus nibh eu nunc volutpat suscipit.</h6>
            <p class="mb-0 blog-gallery-desc">Nam vulputate libero quis nisi euismod rhoncus. Sed eu euismod felis.
              Aenean ullamcorper dapibus odio ac tempor. Aliquam iaculis, quam vitae
              imperdiet consectetur, mi ante semper metus, ac efficitur nisi justo ut
              eros. Maecenas suscipit turpis fermentum elementum scelerisque.</p>
            <p class="blog-gallery-desc">Sed leo elit, volutpat quis aliquet eu, elementum eget arcu. Aenean ligula
              tellus, malesuada eu ultrices vel, vulputate sit amet metus. Donec tincidunt
              sapien ut enim feugiat, sed egestas dolor ornare.</p>

            <blockquote class="block-quote text-white py-2">
              <p class="mb-0 blog-gallery-desc">”Simon Doe has his tongue planted in his cheek as he describes the
                fictional skills of his
                advancing agent.”</p>
              <cite><a href="#">Steve Kowalsky</a></cite>
            </blockquote>
            <p class="mb-0 blog-gallery-desc">Potenti fusce himenaeos hac aenean quis donec vivamus aliquet, wprdpress
              integer inceptos curae sollicitudin in class sociosqu netus, euismod tempus
              fermentum odio gravida eleifend viverra pulvinar inceptos ligula consectetur.
              Potenti ante porttitor tristique curae scelerisque tristique, dictum eu donec
              conubia sit rutrum duis viverra in commodo.</p>
            <p class="mb-0 blog-gallery-desc">Nisi habitasse viverra praesent a maecenas odio erat tristique praesent
              elementum rutrum maecenas blandit nec curabitur donec, turpis varius etiam
              felis ultrices sit, per inceptos dapibus fames donec praesent quisque commodo
              primis proin leo nisl lacinia dictumst justo sagittis luctus vestibulum sed
              quisque.</p>
            <p class="blog-gallery-desc">Potenti fusce himenaeos hac aenean quis donec vivamus aliquet, wprdpress
              integer inceptos curae sollicitudin in class sociosqu netus, euismod tempus
              fermentum odio gravida eleifend viverra pulvinar inceptos ligula consectetur.
              Potenti ante porttitor tristique curae scelerisque tristique, dictum eu donec
              conubia sit rutrum duis viverra in commodo.</p>

            <ul class="iq-blogtag p-0 m-0 list-unstyled gap-2 widget_tags widget-tags-product">
              <li>
                <a href="../blog/blog-tag.html" class="position-relative">Comedy</a>
              </li>
              <li>
                <a href="../blog/blog-tag.html" class="position-relative">Drama</a>
              </li>
              <li>
                <a href="../blog/blog-tag.html" class="position-relative">Movie</a>
              </li>
              <li>
                <a href="../blog/blog-tag.html" class="position-relative">Trailers</a>
              </li>
            </ul>

            <div class="iq-blog-tag">
              <div class="blog-nav row mt-3 mt-md-0 mb-5 mb-lg-0">
                <div class="blog-prev-post col-6 ">
                  <a href="{{path}}blog/blog-detail.html">
                    <span class="fw-semibold d-none d-md-block">Why Amy Adams Always Dreamed of Working </span>
                    <div class="blog-arrow mt-3 d-flex align-items-center">
                      <i class="ph ph-arrow-left"></i>
                      <span class="previous fw-semibold fst-italic"> Previous Post</span>
                    </div>
                  </a>
                </div>
                <div class="blog-next-post col-6 text-end">
                  <a href="{{path}}blog/blog-audio.html">
                    <span class="fw-semibold d-none d-md-block">Gillian Anderson Shares the Photos From The Crown</span>
                    <div class="blog-arrow mt-3 d-flex align-items-center justify-content-end">
                      <span class="next fw-semibold fst-italic"> Next Post</span>
                      <i class="ph ph-arrow-right"></i>
                    </div>
                  </a>
                </div>
              </div>
              <h3 class="comments-title mb-4 pb-2">
                <span>0 Comments</span>
              </h3>
              <h3 class="mb-4">Leave a Reply </h3>
              <form>
                <p class="mb-5">Logged in as Jenny. <a href="{{path}}shop/my-account.html">Edit your profile.</a><a href="#">
                    Log out?</a>
                  Required fields are marked *</p>
                <div class="pt-3">
                  <div class="row">
                    <div class="col-md-12">
                      <textarea class="form-control rounded-3" name="comment" cols="5" rows="8" required=""
                        placeholder="Comment*"></textarea>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-submit mt-5">
                      <button name="submit" type="submit" id="submit"
                        class="btn btn-primary position-relative rounded-3" value="Submit">
                        <span class="button-text">Post Comment</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>