<div class="widget-area">
   <div class="widget widget_search rounded-top-3">
      <form method="get" class="search-form" action="#" autocomplete="off">
         <div class="block-search_inside-wrapper position-relative d-flex rounded">
            <input type="search" class="form-control" placeholder="Search" required="">
            <button type="submit"
               class="block-search_button d-flex align-items-center justify-content-center rounded-end-3">
               <i class="icon icon-search-normal"></i>
            </button>
         </div>
      </form>
   </div>
   <div class="widget widget_categories">
      <h5 class="widget-title">Categories</h5>
      <ul class="p-0 m-0 list-unstyled">
         <li>
            <a href="{{path}}blog/blog-category.html" class="position-relative">Dramas</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-category.html" class="position-relative">Historical</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-category.html" class="position-relative">Movie</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-category.html" class="position-relative">Movie Trailers</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-category.html" class="position-relative">Trailers</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-category.html" class="position-relative">TV Comedies</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-category.html" class="position-relative">TV Rumors</a>
         </li>
         <li class="border-bottom-0">
            <a href="{{path}}blog/blog-category.html" class="position-relative">TV Series</a>
         </li>
         <li class="border-bottom-0">
            <a href="{{path}}blog/blog-category.html" class="position-relative">Uncategorized</a>
         </li>
      </ul>
   </div>
   <div class="widget">
      <h5 class="widget-title">Tags</h5>
      <ul class="p-0 m-0 list-unstyled widget_tags">
         <li>
            <a href="{{path}}blog/blog-tag.html" class="position-relative">comedy</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-tag.html" class="position-relative">Comedies</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-tag.html" class="position-relative">Drama</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-tag.html" class="position-relative">Dramas</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-tag.html" class="position-relative">Historical</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-tag.html" class="position-relative">Horror</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-tag.html" class="position-relative">Movie</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-tag.html" class="position-relative">Movie Trailers</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-tag.html" class="position-relative">Thriller</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-tag.html" class="position-relative">Trailers</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-tag.html" class="position-relative">Tv Rumors</a>
         </li>
         <li>
            <a href="{{path}}blog/blog-tag.html" class="position-relative">Tv Series</a>
         </li>
      </ul>
   </div>
   <div class="widget rounded-bottom-3">
      <h5 class="widget-title">Follow Us</h5>
      <ul class="p-0 m-0 list-unstyled widget_social_media d-flex justify-content-start align-items-center gap-2">
         <li>
            <a href="https://www.facebook.com/" class="position-relative"><i class="icon icon-facebook-share"></i></a>
         </li>
         <li>
            <a href="https://twitter.com/" class="position-relative"><i class="icon icon-x-twitter-share"></i></a>
         </li>
         <li>
            <a href="https://www.instagram.com/" class="position-relative"><i class="icon icon-instagram-share"></i></a>
         </li>
         <li>
            <a href="https://github.com/" class="position-relative"><i class="icon icon-linkedin-share"></i></a>
         </li>
      </ul>
   </div>
</div>