{{#if isEpisodepage}}
<div class="modal fade view-more-data-modal" id="viewMoreDataModal" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header pb-0">
                {{#if istextureTitle}}
                <h3 class="text-uppercase m-0 texture-text texture-text-modal fw-bold">{{movie-name}}</h3>
                {{else}}
                <h5 class="css_prefix-title text-capitalize line-count-1">
                    <a href="#" class="color-inherit">
                        {{movie-name}} </a>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                {{/if}}
            </div>
            <div class="modal-body pt-1">
                <ul class="list-inline d-flex align-items-center flex-wrap gap-3 mt-4">
                    <li>
                        <span class="fw-medium">{{year}}</span>
                    </li>

                    {{#if isNotClockduration}}
                    {{else}}
                    <li>
                        <span class="d-flex align-items-center gap-1">
                            <span class="d-flex align-items-center justify-content-center"><i
                                    class="ph ph-clock"></i></span>
                            {{movieDuration}} </span>
                    </li>
                    {{/if}}

                    <li>
                        <span class="d-flex align-items-center gap-1">
                            <i class="icon-eye-2"></i> {{views}}
                        </span>
                    </li>
                    {{#if isnotimdbRating}}
                    {{else}}
                    <li>
                        <span class="d-flex align-items-center gap-1">
                            <span class="fw-medium">{{rating-count}}</span>
                            <span class="imdb-logo ms-1">
                                <img src="{{path}}assets/images/pages/imdb-logo.svg" loading="lazy" decoding="async"
                                    alt="imdb logo" class="img-fluid imdb-logo1">
                            </span>
                        </span>
                    </li>
                    {{/if}}
                </ul>

                {{#if isCategory}}
                <div class="d-flex align-items-baseline flex-wrap gap-2 mt-md-1 mt-2">
                    <h6 class="m-0">Category:</h6>
                    <ul class="p-0 mb-0 list-inline d-flex flex-wrap movie-tag">
                        <li class="trending-list"><a href="{{path}}view-all-movie.html">Adventure</a></li>
                        <li class="trending-list"><a href="{{path}}view-all-movie.html">Animation</a>
                        </li>
                        <li class="trending-list"><a href="{{path}}view-all-movie.html">Crime</a>
                        </li>
                    </ul>
                </div>
                {{else}}
                {{/if}}

                {{#if isTag}}
                <div class="d-flex align-items-baseline flex-wrap gap-2 mt-3">
                    <h6 class="m-0">Tags:</h6>
                    <ul
                        class="iq-blog-meta-cat-tag iq-blogtag mb-0 list-inline d-flex flex-wrap align-items-center gap-1 gap-md-3 mt-2 mt-md-3  tvshow-tags">
                        <li>
                            <a href="{{path}}/blog/blog-tag.html" class="position-relative">Action</a>
                        </li>
                        <li>
                            <a href="{{path}}/blog/blog-tag.html" class="position-relative">Adventure</a>
                        </li>
                        <li>
                            <a href="{{path}}/blog/blog-tag.html" class="position-relative">Astronomy</a>
                        </li>
                        <li>
                            <a href="{{path}}/blog/blog-tag.html" class="position-relative">circus</a>
                        </li>
                        <li>
                            <a href="{{path}}/blog/blog-tag.html" class="position-relative">Crime</a>
                        </li>
                    </ul>
                </div>
                {{else}}
                {{/if}}
                {{#if isLanguadge}}
                <div class="mt-4">
                    <div class="d-flex align-items-center gap-1">
                        <i class="icon-translate"></i>
                        <ul class="list-inline m-0 d-inline-flex align-items-center gap-2">
                            <li><small>English (New Zealand)</small></li>
                        </ul>
                    </div>
                </div>
                {{/if}}

                <p class="mt-4 mb-0">
                    Game of Heros is an action-packed fantasy epic where the fate of the world is decided in a battle of legendary warriors. When an ancient prophecy foretells an all-out war between the greatest heroes of all realms, champions from different eras and dimensions are summoned to fight for ultimate supremacy. Each warrior possesses unique abilities, weapons, and a past that drives them to victory—or doom.
                </p>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="modal fade view-more-data-modal trending-info" id="viewMoreDataModal" tabindex="-1" aria-modal="true"
    role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <h3 class="text-uppercase m-0 texture-text texture-text-modal fw-bold">{{movie-name}}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-1">
                <ul class="list-inline d-flex align-items-center flex-wrap gap-3 mt-4">
                    <li>
                        <span class="fw-medium">{{year}}</span>
                    </li>
                    <li>
                        <span class="d-flex align-items-center gap-1">
                            <i class="icon-eye-2"></i> {{views}}
                        </span>
                    </li>
                    {{#if moviedurettion}}
                    <li>
                        <span class="d-flex align-items-center gap-1">
                            <i class="ph ph-clock"></i> {{time}}
                        </span>
                    </li>
                    {{else}}
                    {{/if}}
                    {{#if isNotimdbRating}}
                    {{else}}
                    <li>
                        <span class="d-flex align-items-center gap-1">
                            <span class="fw-medium">{{rating-count}}</span>
                            <span class="imdb-logo ms-1">
                                <img src="{{path}}assets/images/pages/imdb-logo.svg" loading="lazy" decoding="async"
                                    alt="imdb logo" class="img-fluid imdb-logo1">
                            </span>
                        </span>
                    </li>
                    {{/if}}
                </ul>

                <div class="d-flex align-items-baseline flex-wrap gap-2 mt-md-1 mt-2">
                    <h6 class="m-0">Genres:</h6>
                    <ul class="p-0 mb-0 list-inline d-flex flex-wrap movie-tag">
                        <li class="trending-list"><a href="{{path}}view-all-movie.html">Adventure</a></li>
                        <li class="trending-list"><a href="{{path}}view-all-movie.html">Animation</a>
                        </li>
                        <li class="trending-list"><a href="{{path}}view-all-movie.html">Crime</a>
                        </li>
                        <li class="trending-list"><a href="{{path}}view-all-movie.html">Horror</a>
                        </li>
                        <li class="trending-list"><a href="{{path}}view-all-movie.html">Romance</a>
                        </li>
                    </ul>
                </div>

                <div class="d-flex align-items-baseline flex-wrap gap-2 mt-3">
                    <h6 class="m-0">Tags:</h6>
                    <ul
                        class="iq-blog-meta-cat-tag iq-blogtag mb-0 list-inline d-flex flex-wrap align-items-center gap-1 gap-md-3 mt-2 mt-md-3  tvshow-tags">
                        <li>
                            <a href="{{path}}/blog/blog-tag.html" class="position-relative">Agents</a>
                        </li>
                        <li>
                            <a href="{{path}}/blog/blog-tag.html" class="position-relative">Brother</a>
                        </li>
                        <li>
                            <a href="{{path}}/blog/blog-tag.html" class="position-relative">Cricket</a>
                        </li>
                        <li>
                            <a href="{{path}}/blog/blog-tag.html" class="position-relative">Drama</a>
                        </li>
                        <li>
                            <a href="{{path}}/blog/blog-tag.html" class="position-relative">Guns</a>
                        </li>
                        <li>
                            <a href="{{path}}/blog/blog-tag.html" class="position-relative">Kings</a>
                        </li>
                    </ul>
                </div>

                <div class="mt-4">
                    <div class="d-flex align-items-center gap-1">
                        <i class="icon-translate"></i>
                        <ul class="list-inline m-0 d-inline-flex align-items-center gap-2">
                            <li><small>English (UK)</small></li>
                        </ul>
                    </div>
                </div>

                <p class="mt-4 mb-0">
                   Game of Heros is an action-packed fantasy epic where the fate of the world is decided in a battle of legendary warriors. When an ancient prophecy foretells an all-out war between the greatest heroes of all realms, champions from different eras and dimensions are summoned to fight for ultimate supremacy. Each warrior possesses unique abilities, weapons, and a past that drives them to victory—or doom.
                </p>

                <div class="d-flex align-items-baseline row-gap-1 column-gap-2 mt-4">
                    <h6 class="m-0">Cast:</h6>
                    <ul
                        class="list-inline m-0 p-0 d-flex align-items-center flex-wrap row-gap-1 column-gap-2 cast-crew-list">
                        <li><a href="#" class="color-inherit">Olivia Foster</a></li>
                        <li><a href="#" class="color-inherit">Leena Burton</a></li>
                        <li><a href="#" class="color-inherit">Ryan Pierce</a></li>
                        <li><a href="#" class="color-inherit">Michael Fox</a></li>
                        <li><a href="#" class="color-inherit">Ruby Scott</a></li>
                        <li><a href="#" class="color-inherit">Maxwell Carter</a></li>
                        <li><a href="#" class="color-inherit">Mark Smith</a></li>
                        <li><a href="#" class="color-inherit">Ava Monroe</a></li>
                        <li><a href="#" class="color-inherit">Charles Melton</a></li>
                        <li><a href="#" class="color-inherit">Jack Nicholson</a></li>
                        <li><a href="#" class="color-inherit">James Stewart</a></li>
                        <li><a href="#" class="color-inherit">Jeff Bridges</a></li>
                        <li><a href="#" class="color-inherit">Jordan Grant</a></li>
                    </ul>
                </div>

                <div class="d-flex align-items-baseline row-gap-1 column-gap-2 mt-4">
                    <h6 class="m-0">Crew:</h6>
                    <ul
                        class="list-inline m-0 p-0 d-flex align-items-center flex-wrap row-gap-1 column-gap-2 cast-crew-list">
                        <li><a href="#" class="color-inherit">Maria Rodriguez</a></li>
                        <li><a href="#" class="color-inherit">Oliver Turner</a></li>
                        <li><a href="#" class="color-inherit">Ethan Crawford</a></li>
                        <li><a href="#" class="color-inherit">Benjamin Hayes</a></li>
                        <li><a href="#" class="color-inherit">Jack Walker</a></li>
                        <li><a href="#" class="color-inherit">Mark Smith</a></li>
                        <li><a href="#" class="color-inherit">Millar Joseph</a></li>
                        <li><a href="#" class="color-inherit">Angel Louis</a></li>
                        <li><a href="#" class="color-inherit">Smith Jonas</a></li>
                        <li><a href="#" class="color-inherit">Kelly Reilly</a></li>
                        <li><a href="#" class="color-inherit">Thomas Bailey</a></li>
                        <li><a href="#" class="color-inherit">Davina Decorous</a></li>
                        <li><a href="#" class="color-inherit">John Abraham</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}