<div class="section-padding-top product-detail">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            {{> components/widgets/product-tab-slider product-slider-image1="shop/product/01.webp"
            product-slider-image2="shop/product/02.webp" product-slider-image3="shop/product/03.webp"
            product-slider-image4="shop/product/04.webp"}}
         </div>
         <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-5">
            <h3>{{product-title}}</h3>
            <div class="mt-2 d-flex align-items-center gap-2">
               <div>
                  {{> components/widgets/filter-rating rating="5"}}
               </div>
               <p class="text-primary mb-0">(2 customer reviews)</p>
            </div>
            <h4 class="product-detail-price">{{product-price}}</h4>
            <p class="producti-detail-description">{{product-description}}</p>
            <div class="add-product-wrapper pb-5">
               <ul class="list-inline m-0 p-0 d-flex align-items-center gap-3 flex-wrap">
                  <li>
                     <div class="btn-group iq-qty-btn custom-qty-btn bg-secondary rounded-3" data-qty="btn"
                        role="group">
                        <button type="button"
                           class="btn btn-sm btn-outline-light iq-quantity-minus text-white border-0">
                           <i class="ph ph-minus fw-bold"></i>
                        </button>
                        <input type="text" class="btn btn-sm btn-outline-light input-display border-0" data-qty="input"
                           pattern="^(0|[1-9][0-9]*)$" minlength="1" maxlength="2" value="2" title="Qty">
                        <button type="button" class="btn btn-sm btn-outline-light iq-quantity-plus text-white border-0">
                           <i class="ph ph-plus fw-bold"></i>
                        </button>
                     </div>
                  </li>
                  <li class="wish-list">
                     <a href="{{path}}shop/wishlist.html"
                        class="d-inline-block bg-secondary rounded-3  custom-wishlist-btn link-wishlist-btn">
                        <i class="ph-fill ph-heart-straight fs-5"></i>
                     </a>
                  </li>
                  <li>
                     <div class="iq-button">
                        <a href="#" class="btn btn-primary cart-btn  position-relative rounded-3">
                           <span class="button-text">Add To Cart</span>
                        </a>
                     </div>
                  </li>
               </ul>
            </div>
            <div class="product-meta-wrapper">
               <ul class="list-inline m-0 p-0">
                  <li class="mb-2">
                     <span class="text-white fw-medium">SKU:</span>
                     <h6 class="d-inline text-body ms-2"><a href="#">{{product-sku}}</a></h6>
                  </li>
                  <li class="mb-2">
                     <span class="text-white fw-medium">Categories:</span>
                     <h6 class="d-inline product-category-list ms-2"><a href="#">{{product-categories}}</a></h6>
                  </li>
                  <li>
                     <span class="text-white fw-medium">Tags:</span>
                     <h6 class="d-inline product-tag-list ms-2"><a href="#">{{product-tag}}</a></h6>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="section-padding-top px-0">
         <div class="product-detail-tabs">
            <ul class="list-inline nav nav-pills justify-content-center iq-custom-tab tab-bg-gredient-center flex-md-row flex-column gap-md-5 gap-3 mb-5"
               id="product-tab" role="tablist">
               <li class="nav-item" role="presentation">
                  <a href="javascript:void(0)" class="nav-link active bg-transparent " data-bs-toggle="tab"
                     data-bs-target="#description" role="tab" aria-selected="true">Description</a>
               </li>
               <li class="nav-item" role="presentation">
                  <a href="javascript:void(0)" class="nav-link bg-transparent" data-bs-toggle="tab"
                     data-bs-target="#additional-information" role="tab" aria-selected="false">Additional
                     information</a>
               </li>
               <li class="nav-item" role="presentation">
                  <a href="javascript:void(0)" class="nav-link bg-transparent" data-bs-toggle="tab"
                     data-bs-target="#reviews" role="tab" aria-selected="false">Reviews</a>
               </li>
            </ul>
            <div class="tab-content" id="product-tab-content">
               <div class="tab-pane fade show active" id="description" role="tabpanel">
                  <p class="m-0">There are many variations of passages of Lorem Ipsum available,
                     but the majority have suffered alteration in some form, by injected humour,
                     or randomised words which don't look even slightly believable. If you are
                     going to use a passage of Lorem Ipsum, you need to be sure there isn't
                     anything embarrassing hidden in the middle of text. All the Lorem Ipsum
                     generators on the Internet tend to repeat predefined chunks as necessary.
                  </p>
               </div>
               <div class="tab-pane fade" id="additional-information" role="tabpanel">
                  <h2 class="add-info-title">Additional information</h2>
                  <div class="table-responsive additional-info-table">
                     <table class="table table-additional">
                        <tbody>
                           <tr>
                              <th scope="row" class="text-center">Color</th>
                              <td>
                                 <p class="mb-0">
                                    <a href="javascript:void(0);"
                                       class="text-primary fst-italic fw-semibold">Blue</a>,
                                    <a href="javascript:void(0);"
                                       class="text-primary fst-italic fw-semibold">Green</a>
                                 </p>
                              </td>
                           </tr>
                           <tr>
                              <th scope="row" class="text-center">Size</th>
                              <td>
                                 <p class="mb-0">
                                    <a href="javascript:void(0);"
                                       class="text-primary fst-italic fw-semibold">L</a>,
                                    <a href="javascript:void(0);"
                                       class="text-primary fst-italic fw-semibold">M</a>
                                 </p>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="tab-pane fade" id="reviews" role="tabpanel">
                  <h4 class="mb-4">Reviews For {{product-title}}</h4>
                  <div class="product-review-list">
                     <ul class="list-inline m-0 p-0">
                        <li class="mb-5 mb-5 reviews-bg p-4">
                           <div class="d-flex flex-sm-row flex-column  align-items-start gap-4">
                              <div class="user-image flex-shrink-0">
                                 <img src="{{path}}assets/images/shop/avatar.webp" alt="user-image"
                                    class="img-fluid rounded-circle">
                              </div>
                              <div class="about-user flex-grow-1 ">
                                 <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                                    <p class="mb-0">Jack Stark</p>
                                    <div class="lh-1 ratting">
                                       {{>components/widgets/filter-rating rating="4"}}
                                    </div>
                                 </div>
                                 <span class="text-capitalize  published-date">
                                    march 2,
                                    2022</span>
                                 <div class="mt-3 border-top">
                                    <p class="mt-3 mb-0">
                                       There are many variations of passages of Lorem Ipsum
                                       available, but the majority have suffered alteration in
                                       some form.
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="mb-3 reviews-bg p-4">
                           <div class="d-flex flex-sm-row flex-column align-items-start gap-4">
                              <div class="user-image flex-shrink-0">
                                 <img src="{{path}}assets/images/shop/avatar.webp" alt="user-image"
                                    class="img-fluid rounded-circle">
                              </div>
                              <div class="about-user flex-grow-1">
                                 <div class="d-flex align-items-center  justify-content-between flex-wrap gap-2">
                                    <p class="mb-0">John Deo</p>
                                    <div class="lh-1 ratting">
                                       {{>components/widgets/filter-rating rating="5"}}
                                    </div>
                                 </div>
                                 <span class="text-capitalize published-date">
                                    march 2,
                                    2022</span>
                                 <div class="mt-3 border-top">
                                    <p class="mb-0 mt-3 ">
                                       It is a long established fact that a reader will be
                                       distracted by the readable content of a page when
                                       looking at its layout.
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
                  <div class="mt-4 review-form">
                     <h4>Add a review</h4>
                     <p class="mb-4">Your email address will not be published. Required fields
                        are marked *
                     </p>
                     <p class="mb-2">Your rating *</p>
                     <form class="needs-validation" novalidate>
                        <div class="ratting">
                           {{>components/widgets/filter-rating rating="5"}}
                        </div>
                        <div class="mb-5 mt-4">
                           <label class="form-label">Your review *</label>
                           <textarea class="form-control" required></textarea>
                        </div>
                        <div class="mb-5">
                           <label class="form-label">Name*</label>
                           <input type="text" class="form-control " required>
                        </div>
                        <div class="mb-5">
                           <label class="form-label">Email*</label>
                           <input type="email" class="form-control" required>
                        </div>
                        <div class="mb-5 form-check">
                           <input type="checkbox" class="form-check-input " id="exampleCheck1" required>
                           <label class="form-check-label" for="exampleCheck1">Save my name,
                              email, and website in this browser for the next time I
                              comment.</label>
                        </div>
                        {{> components/widgets/custom-button button-title="submit" notBtncaretIcon="true"
                        button-url="javascript:void(0);"}}
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
   {{!-- Related Products Start --}}
   <div class="related-product-block section-padding-top">
      <div class="container p-0">
         <div class="overflow-hidden">
            <div class="d-flex align-items-center justify-content-between px-3 my-4">
               <h5 class="main-title text-capitalize mb-0">Related Products</h5>
               <a href="{{path}}shop/view-all-product.html"
                  class="text-primary iq-view-all text-decoration-none flex-none">Want
                  More?</a>
            </div>
            <div class="card-style-slider">
               <div class="position-relative swiper swiper-card" data-slide="4" data-laptop="4" data-tab="3"
                  data-mobile="2" data-mobile-sm="2" data-autoplay="true" data-loop="true" data-navigation="true"
                  data-pagination="true">
                  <ul class="p-0 swiper-wrapper m-0  list-inline">
                     <li class="swiper-slide">
                        {{> components/widgets/product-card ProductImg="01.webp" id="01" shopTitle="Bag Pack"
                        shopSale="Sale!" bgShop="primary"
                        shopDel="$28.00" shopPrice="$25.00" rating="4"}}
                     </li>
                     <li class="swiper-slide">
                        {{> components/widgets/product-card ProductImg="02.webp" id="02" shopTitle="Believe Mask"
                        shopDel="" shopPrice="$13.00" rating='5'}}
                     </li>
                     <li class="swiper-slide">
                        {{> components/widgets/product-card ProductImg="03.webp" id="03" shopTitle="Black Bow"
                        shopSale="Sale!"
                        shopDel="" shopPrice="$18.00 – $45.00" rating='5'}}
                     </li>
                     <li class="swiper-slide">
                        {{> components/widgets/product-card ProductImg="04.webp" id="04" shopTitle="Black Cap"
                        shopSale="New!" bgShop="dark"
                        shopDel="$20.00" shopPrice="$18.00" rating='5'}}
                     </li>
                     <li class="swiper-slide">
                        {{> components/widgets/product-card ProductImg="05.webp" id="05" shopTitle="Boxing Gloves"
                        shopDel="" shopPrice="$17.00" rating='5'}}
                     </li>
                     <li class="swiper-slide">
                        {{> components/widgets/product-card ProductImg="06.webp" id="06" shopTitle="Carry Bag"
                        shopDel="" shopPrice="$18.00" rating='5'}}
                     </li>
                  </ul>
                  <div class="swiper-button swiper-button-next"></div>
                  <div class="swiper-button swiper-button-prev"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {{!-- Related Products Start --}}
</div>