{{#extend layout title="About Us" active="about-us" isHeader="true" isFooter="true" ismegamenu="true" path="./"
isBreadcrumb="true" isSweetalert="true"}}
{{#content "content"}}

<section class="custom-site-main">
   <div class="e-con-inner">
      <div class="container px-3 px-sm-0">
         <div class="row justify-content-center">
            <!-- Text Content -->
            <div class="col-md-12 text-center">
               <h3 class="about-title">About Streamit OTT Platform</h3>
               <p>
                  Welcome to Streamit , a next-generation streaming platform proudly developed by Iqonic Design. We
                  specialize
                  in creating
                  cutting-edge digital solutions, and Streamit is our latest breakthrough in the world of online
                  entertainment. Whether
                  you're a movie lover, a TV show binge-watcher, or enjoy live events, our platform is designed to
                  deliver
                  high-quality
                  content directly to your device, ensuring a seamless, uninterrupted experience. Streamit combines
                  advanced
                  technology
                  with a user-friendly interface to cater to audiences worldwide.
               </p>
            </div>
         </div>

         <!-- Additional Text Section -->
         <div class="row justify-content-center">
            <div class="col-md-12 text-center">
               <p class="custom-about-decs">
                  At Iqonic Design, we aim to revolutionize digital content consumption with Streamit, a fast, reliable,
                  and
                  personalized
                  streaming platform. Built with cutting-edge technology, it offers superior streaming quality, tailored
                  recommendations,
                  and an intuitive content management system. Our mission is to make entertainment seamless and
                  accessible,
                  anytime,
                  anywhere.
               </p>
            </div>
         </div>
      </div>
   </div>
</section>

<div class="about-section-padding-bottom">
   <div class="container-fluid">
      <div class="row align-items-center">
         <!-- Image Section -->
         <div class="col-xl-6">
            <img class="img-fluid rounded mb-4 mb-xl-0 about-content-image"
               src="{{path}}assets/images/pages/content-Image-min.png" alt="content-image">
         </div>

         <!-- Text and Features Section -->
         <div class="col-xl-6">
            <h3 class="about-title">Why Choose Streamit</h3>
            <p class="text-light">Experience next-level entertainment with Streamit, the trusted streaming platform that
               delivers seamless content, unparalleled convenience, and high-quality entertainment. Whether you're
               watching, Streamit ensures a premium experience every time.</p>

            <div class="divider"></div>
            <div class="d-flex flex-column flex-wrap w-100 gap-3 mt-3">
               <div class="feature-box mb-3 d-flex align-items-center flex-column flex-md-row">
                  <img src="{{path}}assets/images/pages/lab-test-icon.png" alt="Movies">
                  <div class="feature-content">
                     <h5 class="feature-title"><span class="text-primary">10,000+</span> Movies and Shows Across All
                        Genres
                     </h5>
                     <p class="mb-0 font-size-14">Dive into a diverse library of top-rated content, from blockbuster
                        hits to
                        exclusive originals.</p>
                  </div>
               </div>
               <div class="feature-box mb-3 d-flex align-items-center flex-column flex-md-row">
                  <img src="{{path}}assets/images/pages/ai-powered.png" alt="AI Powered">
                  <div class="feature-content">
                     <h5 class="feature-title">AI-Powered Recommendations</h5>
                     <p class="mb-0 font-size-14">Enjoy personalized suggestions tailored to your viewing preferences.
                     </p>
                  </div>
               </div>

               <div class="feature-box mb-3 d-flex align-items-center flex-column flex-md-row">
                  <img src="{{path}}assets/images/pages/buffer-free.png" alt="Buffer-Free">
                  <div class="feature-content">
                     <h5 class="feature-title">99.9% Uptime and Buffer-Free Streaming</h5>
                     <p class="mb-0 font-size-14">Built for speed and reliability, Streamit ensures uninterrupted
                        entertainment.</p>
                  </div>
               </div>

               <div class="feature-box d-flex align-items-center flex-column flex-md-row">
                  <img src="{{path}}assets/images/pages/secure-payment.png" alt="Secure Payment">
                  <div class="feature-content">
                     <h5 class="feature-title">Secure Payment & Hassle-Free Subscriptions</h5>
                     <p class="mb-0 font-size-14">Get started in seconds with 100% secure transactions.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<section class="about-section-padding-bottom">
   <div class="streaming-section text-center"
      style="background-image: url({{path}}assets/images/pages/bg-aboutus-min.png); background-position: center center; background-repeat: no-repeat; background-size: cover;">
      <div class="container">
         <div class="streaming-section-spacing">
            <div class="row justify-content-center align-items-center">
               <div class="col-xl-6 col-md-8">
                  <!-- Title -->
                  <div class="">
                     <h3 class="mt-0 streaming-title">
                        Your Ultimate Streaming Experience Begins Here. Join Now </h3>
                  </div>

                  <!-- Subtitle -->
                  <div class="">
                     <p class="description-trail mb-0 fw">Enjoy Unlimited Streaming for <strong>$7.49/Month</strong>—No
                        Commitment!
                     </p>
                  </div>
                  <!-- CTA Button -->
                  <div class="streaming-section-btn">
                     <div class="iq-button">
                        <a href="{{path}}pricing-plan.html" class="btn btn-primary rounded-3">
                           <span class="d-flex align-items-center justify-content-center gap-2 fw-semibold">
                              Start Free Trial
                              <i class="ph-fill ph-play fs-6 ms-0"></i>
                           </span>
                        </a>
                     </div>

                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</section>

<div class="section-padding-bottom">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-2"></div>
         <div class="col-lg-8 col-md-12">
            <div class="title-box text-center">
               <h3 class="">Masterminds Team</h3>
               <p class="mb-0">Your Streamit is build by one of the best and well experienced web developers and an
                  awarded Envato Elite Author.</p>
            </div>
         </div>
         <div class="col-lg-3"></div>
      </div>
      <div class="row about-us-detail gy-4">
         <div class="col-md-3">
            <div class="">
               <img src="{{path}}assets/images/pages/team1.webp" class="img-fluid w-100 mastermind-team-img" alt="team">
            </div>
            <div class="box-content">
               <h6 class="title-box">CEO</h6>
               <h5 class="title-box-name">Tonny Smith</h5>
            </div>
         </div>
         <div class="col-md-3">
            <div class="">
               <img src="{{path}}assets/images/pages/team2.webp" class="img-fluid w-100 mastermind-team-img" alt="team">
            </div>
            <div class="box-content">
               <h6 class="title-box">Designer</h6>
               <h5 class="title-box-name">Barry Tech</h5>
            </div>
         </div>
         <div class="col-md-3">
            <div class="">
               <img src="{{path}}assets/images/pages/team3.webp" class="img-fluid w-100 mastermind-team-img" alt="team">
            </div>
            <div class="box-content">
               <h6 class="title-box">Developer</h6>
               <h5 class="title-box-name">kep John</h5>
            </div>
         </div>
         <div class="col-md-3">
            <div class="">
               <img src="{{path}}assets/images/pages/team4.webp" class="img-fluid w-100 mastermind-team-img" alt="team">
            </div>
            <div class="box-content">
               <h6 class="title-box">Designer</h6>
               <h5 class="title-box-name">Monty Rock</h5>
            </div>
         </div>

      </div>
   </div>
</div>

<div class="section-padding" style="background-color: var(--bs-gray-900);">
   <div class="container">
      <div class="row about-us-row align-items-center">
         <div class="col-lg-6 col-md-5">
            <div class="text-center">
               <img width="497" height="477" src="{{path}}assets/images/pages/map.webp"
                  class=" img-fluid attachment-large size-large" alt="img" loading="lazy">
            </div>
         </div>
         <div class="col-lg-6 col-md-7">
            <h3 class="text-capitalize text-start mb-4">Connect with Us</h3>
            <p class="mb-0 text-start">Streamit is located in Los Angeles city and you can contact us at <a
                  href="mailto:info@medyapim.com">hello@streamit.com</a> for any tech-related support and assistance. We
               love to hear from our Streamit users.</p>
            <div class="mt-4">
               <div class="text-capitalize mb-1 d-flex gap-2">
                  <h6>Company:</h6>
                  <h6 class="text-decoration-none ms-1">Iqonic Design</h6>
               </div>
               <div class="text-capitalize mb-1 d-flex gap-2">
                  <h6>Product:</h6>
                  <h6 class="text-decoration-none ms-1">Streamit </h6>
               </div>
               <div>Contact Us:
                  <a href="#" class="text-decoration-none ms-1">hello@iqonic.design</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="section-padding">
   <div class="container">
      <h3 class="text-capitalize text-center">Work With the Best</h3>
      <div class="image-box-container">
         <div class="image-box-1">
            <img class="img-fluid" src="{{path}}assets/images/pages/about-us1.svg" alt="content-image">
         </div>

         <div class="image-box-1">
            <img class="img-fluid" src="{{path}}assets/images/pages/about-us2.svg" alt="content-image">
         </div>

         <div class="image-box-1">
            <img class="img-fluid" src="{{path}}assets/images/pages/about-us3.svg" alt="content-image">
         </div>

         <div class="image-box-1">
            <img class="img-fluid" src="{{path}}assets/images/pages/about-us4.svg" alt="content-image">
         </div>

         <div class="image-box-1">
            <img class="img-fluid" src="{{path}}assets/images/pages/about-us5.svg" alt="content-image">
         </div>
      </div>
   </div>
</div>
{{!-- Mobile Footer --}}
{{> components/widgets/mobile-footer}}
{{/content}}
{{/extend}}