{{#extend layout title="Log In" active="login" path="./"}}
{{#content "content"}}

<div class="sign-in-page vh-100"
    style="background-image: url({{path}}assets/images/pages/01.webp); background-size: cover; background-repeat: no-repeat;">
    <div class="container">
        <div class="row justify-content-center align-items-center height-self-center vh-100">
            <div class="col-lg-5 col-md-12 align-self-center">
                <div class="user-login-card rounded-3">
                    <a href="{{path}}index.html">
                        <img class="img-fluid logo" src="{{path}}assets/images/logo.png" alt="#">
                    </a>
                    <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto">
                            <form>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="mb-2 custom-form-label">
                                        Username or Email Address </label>
                                    <input placeholder="Enter email" autocomplete="off" required type="email"
                                        id="exampleInputEmail1" class="mb-0 form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword2" class="mb-2 custom-form-label">
                                        Password </label>
                                    <div class="input-group custom-input-group mb-3">
                                        <input placeholder="Password" required type="password"
                                            id="exampleInputPassword2" class="mb-0 form-control">
                                        <span class="input-group-text"><i class="ph ph-eye-slash"
                                                id="togglePassword"></i></span>
                                    </div>
                                </div>
                                <a href="{{path}}index.html"
                                    class="btn btn-primary text-capitalize position-relative w-100 my-3 rounded-3">
                                    <span class="button-text">login</span>
                                </a>
                                <div class="d-flex justify-content-center align-items-center gap-2 links my-3">
                                    If You are new?
                                    <a href="{{path}}register.html" class="st-sub-card setting-dropdown">
                                        <h6 class="m-0 text-primary">
                                            Sign Up </h6>
                                    </a>

                                </div>
                                <div class="seperator d-flex justify-content-center align-items-center">
                                    <span class="line"></span>
                                    <span class="mx-2">OR</span>
                                    <span class="line"></span>
                                </div>
                                <div class="css_prefix-social-login-section text-center">No apps configured. Please
                                    contact your administrator.
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{/extend}}